# Hugo output directory
/public/

# Hugo caches
/resources/_gen/
.cache/
hugo_cache/
hugo_stats.json

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
*.swp
*.swo
*.swn
*.bak
*.tmp
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Node modules (if you use npm/yarn for assets)
node_modules/

# Log files
*.log

# Environment files
.env