<section id="comments">
  <h2>Comments</h2>
<script src="https://giscus.app/client.js"
        data-repo="wasteoftimegames/wasteoftimegames.github.io"
        data-repo-id="R_kgDOQFoQwA"
        data-category="Comments"
        data-category-id="DIC_kwDOQFoQwM4Cw3Q0"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
</section>